{% load static %}
{% block content %}

<head>
    <!-- Online Sources -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Local Sources -->
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
    <script type="text/javascript" src="{% static 'js/filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_f.js' %}"></script>
</head>

<body>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <canvas id='canvas' width=1280 height=720 data-scale-x=2.4 data-scale-x=2.4></canvas>
            </div>
        </div>
        <div class="col-1">
            
        </div>
        <div class="col-3">
            <div class="row">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">SCENE</th>
                            <th scope="col">TYPE</th>
                            <th scope="col">PROJECT</th>
                        </tr>
                    </thead>
                    <tbody id="proj-tbody">
                        <tr>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">NAME</th>
                            <th scope="col">COLOR</th>
                        </tr>
                    </thead>
                    <tbody id="ano-tbody">
                        <tr>
                            <td>N/A</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div>
                    <button type="button" class="btn btn-primary" id="correct-button" name='state' value='1'>Correct</button>
                </div>
                <div style="margin-left: 7px;">
                    <button type="button" class="btn btn-danger" id="wrong-button" name='state' value='2'>Wrong</button>
                </div>
                <div style="margin-left: 7px;">
                    <button type="button" class="btn btn-warning" id="check-button" name='state' value='3'>Require Investigation</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img id='small'> <!--原图缓存，默认不显示，当长或宽小于80px时显示-->  
        </div>
    </div>

    <div class='left'>                                                                        
        <canvas id='canvas' width=1280 height=720 data-scale-x=2.4 data-scale-x=2.4>                                                 <!--显示图片，固定大小为1280x720-->
        </canvas>
        <br>
        <label>标签：</label>
        <table>
            <tr>
                {% for i in tags %}       
                <th>{{i}}</th>                                                                     <!--以table形式显示tags（英文描述，对应文档）-->
                {% endfor %}
            </tr>
        </table>
        <form action='/filter/fix' method='POST'>
            {% csrf_token %}
            <input type='text' name='ahash' style="display: none;" value='{{imhash}}'>             <!--从后端传递hash，以便和fix request确认是同一张图，默认不显示-->
            <label for='fix_label'>fix label:</label>
            <input type="text" name="fixlabel" id='fix_label' value="{{fixitem}}">                 
            <label for='id_tag'>fix tag:</label>
            <input type="text" name="fixtag" id="id_tag" value="{{fixtag}}">
            <input type="submit" value="fix" />
        </form>
    </div>
    <div style="{{display}}">
        <img id='canvas_im' src="{{url}}" value="{{imhash}}">                                                         <!--原图缓存，默认不显示，当长或宽小于80px时显示-->  
    </div>



    <div class="right">
        <form method='GET' action='/filter/'>
            {% csrf_token %}
            <table>
                <tr>
                    <th>scene</th>
                    <th>type</th>
                    <th>project</th>
                </tr>
                <tr class="slim">
                    <th class="slim">{{scene}}</th>
                    <th class="slim">{{ptype}}</th>
                    <th class="slim">{{prj}}</th>
                </tr>
            </table>
            <br>
            <br>

            
            <table>
                <tr>
                    <th>name</th>
                    <th>color</th>
                </tr>
                {%for h in item %}
                <tr>
                    <th class="slim" >{{h.name}}</th>                                              <!--表单显示name和框的颜色-->
                    <th class="slim" id='{{forloop.counter}}_{{h.name}}'></th>       
                </tr>
                
                {%endfor%}
            </table>
            <p>剩余: {{free}} 张图片</p>
            <button id='correct' name='state' value='1'>正确</button>                              <!--state为检查标志位, 默认为0，表示等待检查-->
            <button id='wrong' name='state' value='2'>错误</button>
            <button id='per' name='state' value='3'>需要进一步检查</button>
        </form>
    </div>
    <script>
        
    </script>
</body>
{%endblock content%}