{% load static %}
{% block content %}

<head>
    <!-- Online Sources -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Local Sources -->
    <link rel="stylesheet" href="{% static 'css/filter.css' %}">
    <script type="text/javascript" src="{% static 'js/filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_f.js' %}"></script>
</head>

<body>
    <div class="row" style="margin-left: 0;">
        <div class="col-8">
            <div class="row">
                <canvas id='canvas' width=1280 height=720 data-scale-x=1.6 data-scale-y=1.6></canvas>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col">
                    Enlarge image by pressing CTRL and hovering the pointer over the canvas.
                </div>
            </div>
            <div class="row">
                <div class="col-2" style="padding-left:0;">
                    <img id='small'> <!--原图缓存，默认不显示，当长或宽小于80px时显示-->
                </div>
                <div class="col">
                    <form id="fix-form" style="margin-top: 16;" method="POST" action="/filter/fix">
                        {% csrf_token %}
                        <div class="form-group form-row">
                            <div class="col-1">
                                <label for="tag-input" class="col-form-label">Tags</label>
                            </div>
                            <div class="col-4">
                                <input class="form-control"  type="text" name="fixed" id="tag-input">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">SCENE</th>
                            <th scope="col">TYPE</th>
                            <th scope="col">PROJECT</th>
                        </tr>
                    </thead>
                    <tbody id="proj-tbody">
                        <tr>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <table class="table table-sm table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">NAME</th>
                            <th scope="col">COORD<br>(xmin, ymin, xmax, ymax)</th>
                            <th scope="col">PREVIEW</th>
                            <th scope="col">COLOR</th>
                        </tr>
                    </thead>
                    <tbody id="ano-tbody">
                        <tr>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                            <td>N/A</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div>
                    <button type="button" class="btn btn-primary" id="fix-button" form="fix-form">FIX</button>
                </div>
                <div style="margin-left: 7px;">
                    <button type="button" class="btn btn-primary" id="next-button" name='state' value="1" form="fix-form">NEXT</button>
                </div>
            </div>
            <div class="row" style="margin-top: 7px">
                <div>
                    <button type="button" class="btn btn-primary" id="correct-button" value='5' form="fix-form">Correct</button>
                </div>
                <div style="margin-left: 7px;">
                    <button type="button" class="btn btn-danger" id="wrong-button" value='4' form="fix-form">Wrong</button>
                </div>
                <div style="margin-left: 7px;">
                    <button type="button" class="btn btn-warning" id="check-button" value='2' form="fix-form">Require Investigation</button>
                </div>
            </div>
            <div class="row" style="margin-top: 7px;">
                <div>
                    <button type="button" class="btn btn-danger" id="delete-button" value='3'>Mark As Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>

</body>
{%endblock content%}