{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Online Sources -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Custom Static Files -->
    <script  src="{% static 'js/ajax_f.js' %}" type="text/javascript"></script>
    <script  src="{% static 'js/search.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/search.css' %}" rel="stylesheet" type="text/css">

    <!-- For Date Time Picker -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap-daterangepicker/3.0.5/daterangepicker.min.css" /> -->
    <!-- <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/daterangepicker.css' %}" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" src="{% static 'js/daterangepicker.js' %}"></script>
</head>

<body>
    <div>
        <form id="search-form" action="/search/q" method="POST">
            {% csrf_token %}
            
            <label for="id_query">Search Query:</label> 
            <input type="text" name="q" maxlength="100" id="id_query" />
            
            <input type="submit" value="search" />
        </form>
    </div>
    <div class="main-block", id="left">
        
        <div>
            <form id="main_search_form", action="/search/search_with_cond" method="POST">
                {% csrf_token %}
                <div class="form-row justify-content-center">
                    <div class="form-group col-2 align-self-end">
                        <label for="input-scene">Scene</label>
                    </div>
                    <div class = "form-group col-4">
                        <select id="input-scene" class="form-control" name = 'scene'>
                        {% if scenes %}
                            {% for s in scenes %}
                                <option class="gen">{{ s }}</option>
                            {% endfor %}
                        {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-2 align-self-end">
                        <label for="input-scene">Type</label>
                    </div>
                    <div class="form-group col-4">
                        <select id="input-type" class="form-control" name = 'type'>
                        {% if types %}
                            {% for t in types %}
                                <option class="gen">{{ t }}</option>
                            {% endfor %}
                        {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-2 align-self-end">
                        <label for="input-scene">Project</label>
                    </div>
                    <div class="form-group col-4">
                        <select id="input-project" class="form-control" name = 'project'>
                        {% if projects %}
                            {% for p in projects %}
                                <option class="gen">{{ p }}</option>
                            {% endfor %}
                        {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-2 align-self-end">
                        <label for="input-scene">Tag</label>
                    </div>
                    <div class="form-group col-4">
                        <select id="input-tags" class="form-control" name = 'tags'>
                        <!-- <option class="gen" selected>*</option> -->
                        {% if tags %}
                            {% for p in tags %}
                                <option class="gen">{{ p }}</option>
                                }
                            {% endfor %}
                        {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <div class="form-group col-2 align-self-end">
                        <label for="input-scene">Date Range</label>
                    </div>
                    <div class='form-group col-4'>
                        <input class="form-control" id="daterangepicker" type="text" name="daterange">
                    </div>
                    <script>
                        $( function() {
                            $("#daterangepicker").daterangepicker({
                                showDropdowns: true, 
                                autoUpdateInput: false, 
                                locale:{
                                    cancelLabel: 'Clear'
                                }
                            });
                            $("#daterangepicker").on('apply.daterangepicker', function(ev, picker) {
                                                          $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                                                      });

                            $("#daterangepicker").on('cancel.daterangepicker', function(ev, picker) {
                              $(this).val('');
                            });
                        });

                    </script>
                </div>
                <div class='form-row justify-content-center'>
                    <button type="submit" class="btn btn-primary" id="search-button">Search</button>
                </div>
            </form>
        </div>

        <div>
            <p>search example: scene:gate type:plate-num project:daxie time_year:2018</p>
            <p>scene 场景</p>
            <p>type  项目类型</p>
            <p>project 项目名称</p>
            <p>time 数据入库时间 精确到年月日：2017-01-01</p>
            <p>time_year 数据入库时间 精确到年:2017</p>
            <p>time_and_after 数据入库时间 在某一日期之后（包括当前日期） 精确到年月日</p>
            <p>time_and_before 数据入库时间 在某一日期之前（包括当前日期） 精确到年月日</p>
            <p>time_after 数据入库时间 在某一日期之后（不包括当前日期） 精确到年月日</p>
            <p>time_before 数据入库时间 在某一日期之前（不包括当前日期） 精确到年月日</p>
        </div>
    </div>
    <div class="main-block", id="right">
        <div class = 'row'>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">SCENE</th>
                        <th scope="col">TYPE</th>
                        <th scope="col">PROJECT</th>
                        <th scope="col">TIME ADDED</th>
                        <th scope='col'>Preview</th>
                        <th scope="col">Select All
                            <div style="display: inline-block;"></div>
                            <div class="custom-control custom-checkbox" style="display: inline-block;">
                                <input type="checkbox" class="custom-control-input" id = "sel-all-input" checked>
                                <label class="custom-control-label" for="sel-all-input"></label>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">N/A</th>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>
                            <img class="preview" src="/media/b9bb839b1b1b161e01f0e6fda3130d8e.jpg" alt="b9bb839b1b1b161e01f0e6fda3130d8e.jpg">
                        </td>
                        <td>
                            <div class="custom-control custom-checkbox" style="display:inline-block;">
                                <input type="checkbox" class="custom-control-input ckb" id = "customCheck1" value = "" checked>
                                <label class="custom-control-label" for="customCheck1"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class = 'row justify-content-between'>
            <form id='dl-form' action="/search/dl" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-2 align-self-center">
                        <label class="col-form-label" for="input-email">Email</label>
                    </div>
                    <div class= "col-7 form-group">
                        <input class="col-form-label" id="input-email" class="form-control" type="text" name="mail" maxlength="100">
                    </div>
                    <div class="form-group col-2 align-self-center">
                        <button type="submit" class="btn btn-primary" id="download-button">Download</button>
                    </div>
                </form>
            </div>
            <div class="col-3">
                <div class="row justify-content-end">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                        <li class="page-item disabled" id='prev-btn-li'>
                            <a class="page-link page-nav-btn" id='prev-btn-a' aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><input class="page-link" id='curr-page' size=3 placeholder="1"></li>
                        <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                        <li class="page-item disabled" id='next-btn-li'>
                            <a class="page-link page-nav-btn" id='next-btn-a' aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        </ul>
                    </nav>
                </div>
                <div class="row justify-content-end">
                    <p id='total'>Total number of records: 0</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal">
        <!-- The Close Button -->
        <span class="close">&times;</span>
        <!-- Modal Content (The Image) -->
        <img class="modal-content">
        <!-- Modal Caption (Image Text) -->
        <div class="modal-caption"></div>
    </div>
</body> 
</html>