/*Filter.css*/

/**/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);

body {
  background: #fff;
  color: #000;
  margin: 0;
}

tbody canvas {
  border-radius: 5px;
}

tbody input{
  text-align: center;
}

th, td {
  text-align: center;
}

.form-control-plaintext, td {
  vertical-align: baseline;
  text-align: center;
}
